{{#if cart}}
  <div class="jumbotron text-light mt-5 mb-5">
    <h1 style="color: black;">Mi carrito.</h1>
      <div style="color: black">
        <div class="row border-bottom">
          <div class="col-4 p-4 font-weight-bold">Nombre</div>
          <div class="col-4 p-4 font-weight-bold">Precio unitario.</div>
          <div class="col-4 p-4 font-weight-bold">Cantidad</div>
        </div>
      {{#each cart}}
      <div class="row border-bottom">
        <div class="col-4 p-4">{{this.producto.name}}</div>
        <div class="col-4 p-4">${{this.producto.price}}</div>
        <div class="col-4 p-4">{{this.quantity}}</div>
      </div>
      {{/each}}
          <form action="/carrito/comprar" method="post">
      <button type="submit" class="btn btn-dark">COMPRAR</button>
    </form>
    </div>
  {{else}}
    <div class="alert alert-warning fw-bold" role="alert"> No hay productos agregados al carrito.</div>
  {{/if}}

  <div class="d-flex">
  <form action="/" method="get" class="mr-5">
    <button class="btn btn-dark">Home</button>
  </form>
  <form action="/productos" method="get">
    <button class="btn btn-dark">Productos</button>
  </form>
</div>