<div class="jumbotron text-light mt-5 mb-5">
  <h1 style="color: black;">Mensajes.</h1>
  <div id="chat"></div>
  <form id="messageForm">
    <input type="email" id="email" placeholder="Email." required />
    <input type="text" id="message" placeholder="Mensaje." required />
    <button class="btn btn-dark" type="submit">Enviar.</button>
  </form>
</div>